<section>
  <div class="card">
    <h1 class="card-header h6"><%= title %></h1>
    <div class="card-body">
      <form method="POST" action="/register">
        <div class="form-box d-sm-table w-100 mx-auto">
          <dl class="d-sm-table-row">
            <dt class="d-sm-table-cell fw-normal p-sm-2 text-sm-end">
              <label for="inputName" class="text-nowrap">Name</label>
            </dt>
            <dd class="d-sm-table-cell w-100 p-sm-2">
              <input
                type="text"
                name="username"
                id="inputName"
                class="form-control"
                value="<% if (values.username) { %><%= values.username %><% } %>"
              />
              <%- include('partials/error', {error: errors.username}); %>
            </dd>
          </dl>
          <dl class="d-sm-table-row">
            <dt class="d-sm-table-cell fw-normal p-sm-2 text-sm-end">
              <label for="inputEmail" class="text-nowrap">
                E-Mail Address
              </label>
            </dt>
            <dd class="d-sm-table-cell w-100 p-sm-2">
              <input
                type="email"
                name="email"
                id="inputEmail"
                class="form-control"
                value="<% if (values.email) { %><%= values.email %><% } %>"
              />
              <%- include('partials/error', {error: errors.email}); %>
            </dd>
          </dl>
          <dl class="d-sm-table-row">
            <dt class="d-sm-table-cell fw-normal p-sm-2 text-sm-end">
              <label for="inputPassword" class="text-nowrap"> Password </label>
            </dt>
            <dd class="d-sm-table-cell w-100 p-sm-2">
              <input
                type="password"
                name="password"
                id="inputPassword"
                class="form-control"
                autocomplete="new-password"
                value="<% if (values.password) { %><%= values.password %><% } %>"
              />
              <%- include('partials/error', {error: errors.password}); %>
            </dd>
          </dl>
          <dl class="d-sm-table-row">
            <dt class="d-sm-table-cell fw-normal p-sm-2 text-sm-end">
              <label for="inputConfirmPassword" class="text-nowrap">
                Confirm Password
              </label>
            </dt>
            <dd class="d-sm-table-cell w-100 p-sm-2">
              <input
                type="password"
                name="confirmPassword"
                id="inputConfirmPassword"
                class="form-control"
                autocomplete="new-password"
                value="<% if (values.confirmPassword) { %><%= values.confirmPassword %><% } %>"
              />
              <%- include('partials/error', {error: errors.confirmPassword}); %>
            </dd>
          </dl>
          <dl class="d-sm-table-row">
            <dt class="d-sm-table-cell fw-normal p-sm-2 text-sm-end"></dt>
            <dd class="d-sm-table-cell w-100 p-sm-2">
              <div class="d-flex flex-column flex-sm-row align-items-sm-center">
                <button type="submit" class="btn btn-primary">Register</button>
              </div>
            </dd>
          </dl>
        </div>
      </form>
    </div>
  </div>
</section>
<div class="alert alert-light border text-center mt-4" role="alert">
  Already have an account?
  <a class="text-decoration-none ms-2" href="/login"> Sign in Here. </a>
</div>
